.form {
    margin: auto;
    width: 400px;
    border: 1px solid gray;
    padding: 40px;
    margin-top: 30px;
    border-radius:10px;
  }
  .icon {
    text-align: center;
    height: 47px;
    cursor: pointer;
    font-size: 18px;
    width: 415px;
    background: #000;
    font-weight: 500;
    position: relative;
    margin:0 auto;
    background: #ffffff;
    border: 1px solid #c7c7c7;
    box-sizing: border-box;
    border-radius: 57px;
    margin-bottom: 20px;
    line-height: 51px;
  }
  .icon img {
    height:40px;
    position: absolute;
    left: 8px;
    top: 2px;
  }
  .link{
    cursor: pointer;
    color: #0069d9;
  }
  .stateLine {
    margin: 50px auto;
    text-align: center;
    font-size: 20px;
    position: relative;
  }
  .stateLine:before {
    content: "";
    width: 200px;
    display: block;
    position: absolute;
    height: 2px;
    background-color: #aaaaaa;
    left: 30px;
    top: 50%;
  }
  
  .stateLine:after {
    content: "";
    width: 200px;
    display: block;
    position: absolute;
    height: 2px;
    background-color: #aaaaaa;
    right: 30px;
    top: 50%;
  }
  .StateLine {
    text-align: center;
  }
  