.home-section {
    background-image: url(./bg-image/travel.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1200px;
    overflow: hidden;
}
.main{
    margin-top: 130px;
}
body{
    font-family: 'Yellowtail', cursive;
}